@model Model.Entidad.Region

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
<div class="form-horizontal">
    <fieldset>
        <h4>Región</h4>
        <hr />
        <div style="display: inline-block; width: 49%; vertical-align: top;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CodigoRegion, "Codigo: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CodigoRegion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CodigoRegion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div style="display: inline-block; width: 49%; vertical-align: top;">
            <div class="form-group">
                @Html.LabelFor(model => model.NombreRegion, "Nombre: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreRegion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreRegion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
